@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid red;

}

.header {
    background-color: var(--bg);
    border-bottom: var(--border);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    font-size: 1.8rem;
    color: #fff;
    margin: 0 1rem;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    height: 40px;
    width: 40px;
}

.home-container section {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.home-container {
    background: url("/img/home-img.png");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 60rem;
}

.home-container h1 {
    color: white;
    font-size: 6rem;
    line-height: 1.2;
}

.home-container p {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    margin: 2rem 0;
}


.btn {
    background: var(--main-color);
    color: white;
    font-size: 1.7rem;
    padding: 1rem 2.5rem;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.about {}

.row {
    display: flex;
    align-items: center;
    background-color: var(--black);
}

.title {
    color: var(--main-color);
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.content {
    padding: 3rem;
}

.content h3 {
    color: #fff;
    font-size: 3rem;
    line-height: 1.8;
}

.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    margin-bottom: 3rem;
}

.menu .box {}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

}

.box-container {
    border: var(--border);
    align-items: center;
    text-align: center;
    padding: 7rem;
    cursor: pointer;
}

.box-container:hover{
    background-color: #fff;
}

.box-container:hover>*{
    color: black;
}

.box-container img {
    border-radius: 50%;
    border: 1px solid var(--main-color);
}

.box-container h3 {
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem;
}

.box-container h3:hover {
}

.box-container p {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;

}

.box-container p span {
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: 100;
}